.country {
    width: 265px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 15px;
    color: var(--txt-clr);
    background: var(--bg-element);

    pointer-events: auto;
    cursor: pointer;
    border-radius: 5px;

    &:hover{
        transform: scale(1.1);
    }
}

.country__flag{
    width: 100%;
    min-width: 265px;
    height: 100%;
    max-height: 160px;
    object-fit: cover;
}

.country__info {
    height: 170px;
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.country__name {
    font-size: 18px;
    font-weight: var(--fw-bold);
    margin-bottom: .5rem;
    pointer-events: none;
}

.country__data {
    line-height: 1.5rem;
    pointer-events: none;
}
.bold{
    font-weight: var(--fw-bold);
    pointer-events: none;
}
