
.countries{
   width: 100%;
   top: 16rem;
   // max-width: 1200px;
   position: absolute;
   left: auto;
   right: auto;
   pointer-events: none;
   
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
   z-index: -1;
   
   @include table {
      top: 13.4rem;
      padding: 0 20px;
      gap: 40px 0;
   }
}