
.countries{
   width: 100%;
   top: 18rem;
   // max-width: 1200px;
   position: absolute;
   left: auto;
   right: auto;
   
   display: grid;
   grid-template-columns: 1fr;
   z-index: -1;
   
   @include table {
      top: 14rem;
      padding: 0 40px;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px 0;
   }
}