.btn-back{
    width: 104px;
    height: 32px;
    
    margin-top: 40px;
    margin-left: 28px;
    margin-bottom: 64px;
    
    font-size: 14px;
    font-weight: var(--fw-normal);
    text-align: center;

    color: var(--txt-clr);
    background: var(--bg-element);
    border: none;
    outline: none;
    border-radius: 5px;
    
    .fa-long-arrow-alt-left {
        margin: 0 10px 0 0;
    }
    
}

.detail{
    padding: 0 28px; 
    display: grid;
    grid-template-columns: 1fr;
    color: var(--txt-clr);
    
    &__flag {
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    &__title {
        font-size: 22px;
        font-weight: var(--fw-bold);
        margin-top: 15px;
        margin-bottom: .5rem;
    }
    
    &__data {
        line-height: 1.5rem;
    }
}

.borders {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-border {
    height: 28px;
    font-size: 13px;
    padding: 0 22px;
    margin-right: 1rem;

    color: var(--txt-clr);
    background: var(--bg-element);
    border: none;
    outline: none;
    border-radius: 5px;

}