.search{
   margin: 24px 15px;

   @include table {
      margin: 48px 80px;
      display: flex;
      justify-content: space-between;
   }

}

.search__input{
   width: 100%;
   max-width: 480px;
   height: 48px;
   padding: 0 40px;
   
   display: flex;
   justify-content: flex-start;
   align-items: center;
   
   font-size: 15px;
   font-weight: var(--fw-small);
   
   background: var(--bg-element);
   color: var(--txt-clr);
   border-radius: 5px;
   box-shadow: 0 1px 5px rgba(0,0,0, .5);
   
   input {
      padding: 15px;

      cursor: pointer;

      background: none;
      outline: none;
      border: none;
      color: var(--txt-clr);
      
      &::placeholder{
         color: var(--txt-clr);
      }
   }
   
   @include table {
      height: 60px;
   }
}

.select,
.options {
   width: 200px;
   z-index: 100;
   
   font-size: 12px;
   font-weight: var(--fw-normal);
   
   display: flex;
   
   background: var(--bg-element);
   color: var(--txt-clr);
   
   border-radius: 5px;
   outline: none;
   border: none;
   box-shadow: 0 2px 5px rgba(0,0,0, .4);
   
   cursor: pointer;
}


.select {
   height: 48px;
   padding: 0 20px 0 40px;
   margin-top: 40px;
   
   justify-content: space-between;
   align-items: center;
   
   &:hover {
      transform: scale( 1.05);
   }
   
   @include table {
      height: 60px;
      margin-top: 0;
   }

}

.fa-angle-down {
   font-size: 1rem;
   color: var(--txt-clr);
   pointer-events: none;
}

.options {
   height: 145px;
   margin-top: .2rem;

   opacity: 0;
   visibility: hidden;

   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   
   &.show {
      opacity: 1;
      visibility: visible;
   }
}

.option {
   width: 100%;
   padding: 0.3rem 20px .3rem 40px;

   cursor: pointer;
   
   &:hover {
      background: var(--bg-clr);
   }
}

.hidden {
   display: none;
}